<p>HERE BE THE FOOTER __________________ </p>
 
<% if user_signed_in? %>
  <div class "convoboxes">  
    <div class="row"> 
      <div class="col-md-9">
      <ul class="conversations-list">
       <% @conversations.each do |conversation| %>
         <%= render 'conversations/conversation',  user: current_user , conversation: conversation%>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>


<%# the conversations list div is the div that opens a new window and creates a element%>